@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');




@media (min-width: 850px) {
    .container-narrow{
        max-width: 800px !important;
    }

}


body  {
    font-family: "Source Sans Pro", sans-serif !important;
    background-color: white;
}



code {
  font-family: 'Source Sans Pro', sans-serif;
}

.container p {
  text-align: justify;
}

.Pane1 {
  overflow-y: scroll;
}

.full-screen {
  width:100vw;
  height:100vh;
  margin:0px;
  padding:0px;
}

.black-background {
  background-color: black
}

.contract{
  max-height: 500px;
    padding-right: 10px;
    overflow-y: scroll;
    border: 1px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 1%;
    padding: 20px;
    margin-top: 20px;
    border-color: #222;
}

.slider {
  padding:0px !important;
  border:0px !important;
}

.homeNav-logo {
  height:40px;
  margin-right: 10px;
  margin-left:8px;
  margin-top:-3px;
}

.wideButton {
  width:120px;
}


.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}
 
.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}
 
.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}
 
.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
 
.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
  cursor: col-resize;
}
 
.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.8);
  border-right: 5px solid rgba(0, 0, 0, 0.8);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}
